body {
    color: #3e3e3e;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    background-color: #dbe9f4;
  }

  .horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sticker {
    height: 20vh;
  width: fit-content;
  margin: 5vh;
  }

  .graphic {
    height: 95vh;
    width: fit-content;
  margin: 0;
  align-self: center;

  }

  .encouragement-container {
      margin-right: 10vw;
      height: 80vh;
  }

h2 {
    font-size: 9vh;
    margin-bottom: 0;
    font-family: 'Henny Penny', cursive;
}
p {
    font-size: 2.5vh;
    margin-bottom: 0;
}

.save-btn {
    background-color: #e9c1ce;
    border: none;
    color: white;
    padding: 0.5em 1.5em;
    text-align: center;
    font-size: 16px;
    border-radius: 2em;
    font-size: 1.8em;
  }